
# INVICTUS_main-wallet

PW5KcybtYZSUdxg9yuYoi7jCQaDJgrYmAon9LEVKqMXMT1KnzWKRW

Private key: 5KWNwM6UKW7p2TbFwKWyhkEXFBNkqXo1vwFRnNkcmPuCZvy1Tta
Public key: EOS5wc6hyLEog1spdr8XjnrXNvFQHprvUUgALRruLbH4nnBEXYF9e


# PRODUCE BLOCK command

nodeos -e -p eosio --hard-replay \
    --plugin eosio::producer_plugin \
    --plugin eosio::chain_api_plugin \
    --plugin eosio::http_plugin \
    --plugin eosio::history_plugin \
    --plugin eosio::history_api_plugin \
    --access-control-allow-origin='*' \
    --contracts-console \
    --http-validate-host=false \
    --verbose-http-errors >> nodeos.log 2>&1 &



# INVICTUS MASTER WALLET

    @invictus_master

    PW5KE9WuL519rMamBDPTcwsR8woA1LtbirDrMV7cyA92AcqTcVyrs

    Private key: 5JFKUTz6cFfspBCPtariFEN2nUtWBRU1Ne49G4tozEadFjefSPn
    Public key: EOS8TCeZusQywv5p2X4wyQoWbZ9oNc4FzW5Eng8bHQD6EuPnBzkca
    
    #eosio_develop account keys:

    Private Key: 5KQwrPbwdL6PhXujxW37FSSQZ1JiwsST4cqQzDeyXtP79zkvFD3
    Public key: EOS6MRyAjQq8ud7hVNYcfnVPJqcVpscN5So8BhtHuGYqET5GDW5CV
    
cleos create account eosio invictus EOS8TCeZusQywv5p2X4wyQoWbZ9oNc4FzW5Eng8bHQD6EuPnBzkca
executed transaction: 828f297416b2c651b20e0b128f59126182d81ca5ca18eaec47c09022877c3cbf  200 bytes  118 us
#         eosio <= eosio::newaccount            {"creator":"eosio","name":"invictus","owner":{"threshold":1,"keys":[{"key":"EOS8TCeZusQywv5p2X4wyQoW...
warning: transaction executed locally, but may not be confirmed by the network yet         ]

cleos get account invictus
created: 2021-05-31T15:48:38.000
permissions:
     owner     1:    1 EOS8TCeZusQywv5p2X4wyQoWbZ9oNc4FzW5Eng8bHQD6EuPnBzkca
        active     1:    1 EOS8TCeZusQywv5p2X4wyQoWbZ9oNc4FzW5Eng8bHQD6EuPnBzkca
memory:
     quota:       unlimited  used:      2.66 KiB

net bandwidth:
     used:               unlimited
     available:          unlimited
     limit:              unlimited

cpu bandwidth:
     used:               unlimited
     available:          unlimited
     limit:              unlimited

# Boswana wallet

     PW5KSAkyvnWCPCzUdqP2T9EJ2RYVdNrECE6nf5YQp28rFw7hvgcSc

# Nigeria wallet 
     
     PW5KCv7AZAPUY7a9XeUovy82yQ71ycTW3gVGEf6vfJE7EKuWayssp

# Central African Republic 

     PW5JukwfdyzXykjoWVQQ1w1nEBjLgvhHnKQx5DC52s2t8dWpTWtZa

WALLET_PASSWORD="PW5KE9WuL519rMamBDPTcwsR8woA1LtbirDrMV7cyA92AcqTcVyrs"
CONTRACT="cambiatus.cm"
TOKEN_CONTRACT="cambiatus.tk"
BACKEND_ACC="cambiatus"
PUBLIC_KEY="EOS6MRyAjQq8ud7hVNYcfnVPJqcVpscN5So8BhtHuGYqET5GDW5CV"

nohup nodeos -e -p eosio \
    --data-dir .nodeos/data \
    --config-dir .nodeos/config \
    --plugin eosio::producer_plugin \
    --plugin eosio::producer_api_plugin \
    --plugin eosio::chain_api_plugin \
    --plugin eosio::history_plugin \
    --plugin eosio::history_api_plugin \
    --plugin eosio::http_plugin \
    --plugin eosio::state_history_plugin \
    --access-control-allow-origin='*' \
    --contracts-console \
    --http-validate-host=false \
    --trace-history \
    --chain-state-history \
    --verbose-http-errors \
    --filter-on='*' \
    --disable-replay-opts \
    --delete-all-blocks &